body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1,
h2 {
    color: #cac6c6;
}

header,
section {
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}



.rodape{
    background-color: #6c757d;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}

.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: 100%;
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}